<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DEDDHE_Oracle.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DEDDHE_Oracle.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <DEDDHE_Oracle.My.MySettings>
            <setting name="strSkinChoice" serializeAs="String">
                <value>Legend - Light\</value>
            </setting>
            <setting name="strSplashScreenPic" serializeAs="String">
                <value>SplashScreen\</value>
            </setting>
            <setting name="UpdateFile" serializeAs="String">
                <value />
            </setting>
            <setting name="RDirectory" serializeAs="String">
                <value />
            </setting>
        </DEDDHE_Oracle.My.MySettings>
    </userSettings>
    <applicationSettings>
        <DEDDHE_Oracle.My.MySettings>
            <setting name="ProgrammeWebsite" serializeAs="String">
                <value />
            </setting>
            <setting name="ProgrammersWebsite" serializeAs="String">
                <value>http://www.NihilisTsLab.com</value>
            </setting>
            <setting name="CompanyWebsite" serializeAs="String">
                <value />
            </setting>
            <setting name="ContactEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="mFrom" serializeAs="String">
                <value>=b5m4mdF`mbobm]8n</value>
            </setting>
            <setting name="mTo" serializeAs="String">
                <value>8/4oo/5zp4p4=/-/6/5Fp5o]y`p</value>
            </setting>
            <setting name="mClientHost" serializeAs="String">
                <value>p4/=84mb]`mbobm]8n</value>
            </setting>
            <setting name="mPW" serializeAs="String">
                <value>44=/49f</value>
            </setting>
            <setting name="mPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="mSSL" serializeAs="String">
                <value>True</value>
            </setting>
        </DEDDHE_Oracle.My.MySettings>
    </applicationSettings>
</configuration>
